<!DOCTYPE html>
<html lang="pl" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Work-Timer</title>
    <link rel="shortcut icon" type="image/png" href="./img/klepsydra2.svg"/>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|PT+Serif&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <script src="./js/angular.js"></script>
    <script src="../node_modules/angular-filter/dist/angular-filter.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script> -->

</head>
<body>


<div class="container" ng-controller="tasksController">
    <div class="row">
        <div class="col-lg-1"><h2 class="main-title">Dziś</h2></div>
        <div class="col-lg-2 clock-and-date"><h2 id="clock"></h2><h2 id="todays-date"></h2></div>

</div>

<div class="upper-bar">
    <button class="storageControl" id="save-to-localStorage" ng-click="saveData()">Zapisz</button>
    <button class="storageControl" id="load-from-localStorage" ng-click="loadData()">Wczytaj</button>
    <button class="storageControl" id="notes-vis-toggler" ng-click="showNotes = !showNotes">{{ showNotes ? 'Pokaż notatki' : 'Ukryj notatki' }}</button>
    <button class="storageControl" id="prefix-vis-toggler" ng-click="showPrefix = !showPrefix">Edytuj przedrostek</button>
    <button class="storageControl" id="logLink-vis-toggler" ng-click="showLogLink = !showLogLink">Edytuj link</button>

    <button class="storageControl" id="remove-breaks" ng-click="deleteAllBreaks()">Usuń przerwy</button>

    <div class="upperbar-input-field" ng-show="!showPrefix">
        <input type="text" ng-model="prefix" id="prefix-input" placeholder="Przedrostek"></input>
    </div>

    <div class="upperbar-input-field" ng-show="!showNotes">
        <input type="text" ng-model="notes" placeholder="Notatka" id="">
    </div>

    <div class="upperbar-input-field" ng-show="!showLogLink">
        <input type="text" ng-model="logLink" id="logLink-input" placeholder="Link do tasków"></input>
    </div>
</div>

<div class="row">

              <table>
                <thead>
                  <tr>
                    <th>Task</th>
                    <th>Start</th>
                    <th>Koniec</th>
                    <th>Spędzony czas</th>
                    <th>Usuń / Loguj</th>

                  </tr>
                </thead>
                <th class="filter-header" colspan="5"><button class="toggle-vis" ng-click="showGroups = !showGroups;changeTogglerClassGroups()"><i class="{{togglerVisGroups}}"></i></button>Grupy</th>
                <tbody ng-show="!showGroups">
                        <tr ng-repeat="(key,value) in tasks | groupBy: 'name'" class="tasks-table-group">
                                <th class="task-single-name">  {{ key }}</th>
                                <td>  </td>
                                <td>  </td>
                                <th class="task-single-name">  {{ value | map:'time_spent' | sum }} m  </th>                            
                                <td>
                                    <a class="delete-task" target="_blank" ng-href="{{openTab(key)}}">
                                        LINK
                                    </a>
                                </td>
                                <!-- TODO: Change delete-task class, to global one -->
                        </tr>
                </tbody>

                    <th class="filter-header" colspan="5">
                            <button class="toggle-vis" ng-click="showSingles = !showSingles;changeTogglerClassSingles()"><i class="{{togglerVisSingles}}"></i></button>
                        Pojedyncze
                    </th>
                <tbody ng-show="!showSingles">
                  <tr ng-repeat="task in tasks" class="tasks-table-single">
                    <th><input type="text" name="" ng-model="task.name" value="{{task.name}}" class="task-single-name"></th>
                    <td>
                        <input type="number" name="" class="task-time" ng-model="task.start_hour" value="task.start_hour">
                        <input type="number" name="" class="task-time" ng-model="task.start_minute" value="task.start_minute">

                    </td>
                    <td>
                        <input type="number" class="task-time" ng-model="task.end_hour" value="task.end_hour">
                        <input type="number" class="task-time" ng-model="task.end_minute" value="task.end_minute">
                    </td>
                    <td class="task-single-name">{{calcMins(task)}}m</td>
                    <td><button class="delete-task" ng-click="deleteTask($index)"><i class="far fa-trash-alt" aria-hidden="true"></i></button></td>
                    </td>
                  </tr>

                </tbody>

                <tfoot>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="total">
                   <span class="total-number"> {{getTotal(task)}} </span>
                  </td>
              </tfoot>


              </table> <br>
</div>

<button class="add-task-btn" ng-click="addTask()">
   <span> + </span>
</button>

<button class="add-break-btn" ng-click="addBreak()">
    <i class="fas fa-coffee" aria-hidden="true"></i>
 </button>

<!-- Alert Box -->
<div class="notification bounceOutDown">
    <div class="notification-text">
        <span>Zapisane!</span>
    </div>
</div>
<!--  -->






</div>

<script src="js/main.min.js"></script>
</body>
</html>