<!DOCTYPE html>
<html lang="pl" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Work-Timer</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|PT+Serif&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <script src="js/angular.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script> -->

</head>
<body>

        <!-- <nav>
                
                    <div class="nav-current-task">ABIL-2137</div>
                    <div class="nav-task-controls">
                        <div class="task-control-play"></div>
                        <div class="task-control-pause"></div>
                        <div class="task-control-done"></div>
                        
                        
                    </div>
                
        </nav> -->

<div class="container" ng-controller="tasksController">
    <div class="row">
        <div class="col-lg-1"><h2 class="main-title">Dziś</h2></div>
        <div class="col-lg-2 clock-and-date"><h2 id="clock"></h2><h2 id="todays-date"></h2></div>
    
</div>

<button class="storageControl" id="save-to-localStorage" ng-click="saveData()">Zapisz</button>
<button class="storageControl" id="load-from-localStorage" ng-click="loadData()">Wczytaj</button>

<div class="row">
      
              
              <table>
                <thead>
                  <tr>
                    <th>Task</th>
                    <th>Start</th>
                    <th>Koniec</th>
                    <th>Spędzony czas</th>
                    <th>Usuń</th>
                    
                  </tr>
                </thead>
                <tbody>

                  <tr ng-repeat="task in tasks">
                    <th><input type="text" name="" ng-model="task.name" value="{{task.name}}"></th>
                    <td>
                        <input type="number" name="" class="task-time" ng-model="task.start_hour" value="task.start_hour">
                        <input type="number" name="" class="task-time" ng-model="task.start_minute" value="task.start_minute">
                    
                    </td>
                    <td>
                        <input type="number" class="task-time" ng-model="task.end_hour" value="task.end_hour">
                        <input type="number" class="task-time" ng-model="task.end_minute" value="task.end_minute">
                    </td>
                    <td>{{calculateMinutes(task)}}m</td>
                    <td><button class="delete-task" ng-click="deleteTask($index)"><i class="far fa-trash-alt" aria-hidden="true"></i></button></td>
                  </tr>
                  
                </tbody>
                <tfoot>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="total">
                   <span class="total-header">Łącznie</span> &nbsp;
                   <span class="total-number"> {{getTotal(task)}} </span>
                  </td>
              </tfoot>
                

              </table> <br>
</div>
<button class="add-task-btn" ng-click="addTask()">+</button>

<!-- Alert Box -->
<div class="notification bounceOutDown">
    <div class="notification-text">
        <span>Zapisane!</span>
    </div>
</div>
<!--  -->






</div>

<script src="js/main.min.js"></script>
</body>
</html>