
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/type";

// @import "node_modules/bootstrap/scss/tables";

@import "variables"; // My own variables

// Functions
@import "functions/font";
@import "functions/z-index";
@import "functions/centerPositionFixed";
@import "functions/centerPositionAbsolute";
@import 'functions/hover/fluidHoverText';
@import 'functions/hover/fluidHoverField';

// Components
@import "components/nav";
@import "components/table";
@import "components/clock";

body{
    background-color: $background-color;
    color: #f1f1f1;
    // margin: 0;
    // padding: 0;
}

.main-title{
    @include font($sans-font,45px,white,500,null);
    letter-spacing: 10px;
    text-transform: uppercase;
}
.clock-and-date{
    margin-left: 15px;
}
.add-task-btn{
    background-color: $background-color;
    display: block;
    width: 50px;
    height: 50px;
    outline: none;
    border: 1px solid $primary-color;
    margin: 50px;
    border-radius: 50%;
    @include font($serif-font,20px,$primary-color,300,null);
    &:hover{
        background-color: $primary-color;
        
        font-size: 24px;
        transform: rotate(-90deg);
        @include fluidHoverText($background-color,.25);
        
    }
    
}