.storageControl{

    @include font($sans-font,14px,$primary-color,null,null);
    background-color: transparent;
    border: 1px solid $primary-color;
    border-radius: 5px;
    height: 25px;
    text-align: center;
    outline: none;
    position: relative;
    bottom: 2px;
    @include scaleOnActive(0.9,0.25);
    &:hover{
     @include font($sans-font,14px,$background-color,null,null);
     @include fluidHoverField($primary-color,.25);

    }

    &:nth-child(1){
        margin-left: 6px;
    }

    &:nth-child(2){
        margin-right: 20px;
    }

}