table{

    // @include centerPositionAbsolute();
    margin-top: 50px;
    width: 90vw;
    @include font($serif-font);
    text-align: center;
    thead{
        background-color: $primary-color;
        color: $tile-color;
    }

    th{
        padding: 10px;
        font-family: $serif-font;
        &:first-child{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:last-child{
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
      
    }
    tr{
        &:nth-child(even){
            background-color: $tile-color;
            }
        font-family: $sans-font;
    }
    input{
        background-color: transparent;
        border: none;
        text-align: center;
        @include font($serif-font,18px,$primary-color,null,null);
        outline: none !important;
        &[type='number']{
            -moz-appearance:textfield;
        
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        &::selection{
            background-color: $primary-color;
            color: $tile-color;
        }
        &::-moz-selection{
            background-color: $primary-color;
            color: $tile-color;
        }
    }
    .task-time{
        @extend input;
        width: 50px;
        &:first-child{
            width: 22px;
        }
    }
    .delete-task{
        @include font('Font-Awesome',14px,$primary-color,null,null);
        background-color: transparent;
        border: 1px solid $primary-color;
        border-radius: 5px;
        width: 45px;
        height: 25px;
        outline: none;
        text-align: center;
        @include scaleOnActive(0.9,0.25);

        &:hover{
         @include font('Font-Awesome',14px,$background-color,null,null);
         @include fluidHoverField($primary-color,.25);
         
        }
    }




}