table{

    // @include centerPositionAbsolute();
    
    width: 80vw;
    margin: 50px auto;
    @include font($serif-font);
    text-align: center;
    thead{
        background-color: $primary-color;
        color: $tile-color;
    }
    .filter-header{
        @include font($serif-font,22px,$primary-color,null,null);
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-bottom: 1px solid $primary-color;
        text-align: left;
        

    }

    th{
        padding: 10px;
        @include font($serif-font,null,$background-color,500,null);
        &:first-child{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:last-child{
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
      
    }
    .tasks{
        &-table{
            font-family: $sans-font;
            color: white;
            
            &-single,&-group{
                &:nth-child(even){
                    background-color: $tile-color;
                    }    
            }
      

        } 
    }
    .task{
        &-single{
            &-name{
                @include font($sans-font,null,white,500,null);
            }
        }
    }

    input{
        background-color: transparent;
        border: none;
        text-align: center;
        @include font($serif-font,18px,null,null,null);
        outline: none !important;
        &[type='number']{
            -moz-appearance:textfield;
        
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        &::selection{
            background-color: $primary-color;
            color: $tile-color;
        }
        &::-moz-selection{
            background-color: $primary-color;
            color: $tile-color;
        }
    }

    .task-time{
        @extend input;
        width: 50px;
        color: $primary-color;
        &:first-child{
            width: 22px;
        }
    }
    .delete-task{
        @include font('Font-Awesome',14px,$primary-color,null,null);
        background-color: transparent;
        border: 1px solid $primary-color;
        border-radius: 5px;
        width: 45px;
        height: 25px;
        outline: none;
        text-align: center;
        @include scaleOnActive(0.9,0.25);

        &:hover{
         @include font('Font-Awesome',14px,$background-color,null,null);
         @include fluidHoverField($primary-color,.25);
         
        }
    }
    .total{

        background-color: $primary-color;
        color: $background-color;
        padding: 10px 0px 10px 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        &-header{
            @include font($serif-font,null,$background-color,500,null);
        }
        &-number{

            @include font($sans-font,null,$background-color,700,null);
            
        
        }


    }




}